# ================================
# Azure OpenAI Configuration
# ================================
AZURE_OPENAI_API_KEY=your_api_key
AZURE_OPENAI_ENDPOINT=https://your-resource-name.openai.azure.com/
AZURE_OPENAI_API_VERSION=2024-02-01
AZURE_OPENAI_DEPLOYMENT_NAME=your_deployment_name



# ================================
# Rasa Configuration
# ================================
RASA_SERVER_URL=http://localhost:5005/webhooks/rest/webhook
MIDDLEWARE_HOST=localhost
MIDDLEWARE_PORT=5050